/node_modules
/public/hot
/public/uploads
/public/storage
/public/uploads
/storage/*.key
/vendor
/backup
/tripology
.env
.env.backup
.env.example
composer.lock
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
